{% extends "base.html" %}
{% block content %}
      
        <h1>Signup</h1>
                
        <form action='/signup' method='post'>
          <div>
            <lable>Username:<br>
              <input type='text' name='username' placeholder='Enter Username' value='{{username}}' />
            </lable>
            <p class='error'>{{username_error}}</p>            
            <lable>Password:<br>
              <input type='password' name='password' placeholder="Enter Password" value='{{password}}'/>
            </lable>
            <p class='error'>{{password_error}}</p>
            <p class='error'></p>
            <lable>Verify Password:<br>
              <input  type='password' name='verify' placeholder="Repeat Password" value='{{verify}}' /> 
            </lable>
            <p class='error'>{{verify_error}}</p>
            <lable>Email (optional):<br>
              <input type='text' name='email' placeholder="Enter Email" value='{{email}}' />
            </lable>
            <p class='error'>{{email_error}}</p>
            <input class='button' type='submit' value='Submit Query'/>
          </div>
        </form>

{% endblock %}